img {
    border:1px solid black;
    width:75px;
    height:75px;
    border-radius:10px;
}

th {
    font-family:cursive;
}

button{
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4px;
    
}



.boll2 {
    background-image:url("../pic/boll2.jpg");
    width:75px;
    height:75px;
    background-repeat:no-repeat;
    border-radius:10px; 
    border:1px solid black; 
    background-size:contain;
}




.boll3 {
    background-image:url("../pic/images.jpg");
    width:75px;
    height:75px;
    background-repeat:no-repeat;
    border-radius:10px; 
    border:1px solid black; 
    background-size:contain;
}

.boll4 {
    background-image:url("../pic/NP300-T.jpg");
    width:75px;
    height:75px;
    background-repeat:no-repeat;
    border-radius:10px; 
    border:1px solid black; 
    background-size:contain;
}

.boll5 {
    background-image:url("../pic/putin.png");
    width:75px;
    height:75px;
    background-repeat:no-repeat;
    border-radius:10px; 
    border:1px solid black; 
    background-size:contain;
}

.bakgrund {
    width:75px;
    height:75px;
    border-radius:10px;
    background-repeat:no-repeat;
    border:1px solid black;
    background-image:url("../pic/bakgrund.png");
    background-size:contain;
}

.backgrund:active {
    border:10px solid black;
}

th {
    margin-left:auto;
    margin-right:auto;
}

#articlen {
    padding:100px;
    margin-left:120px;
    margin-top:60px;
    width:600px;
    height:auto;
    background-color:rgb(235,235,235);
    border-radius:10px;
    border:3px solid gray;
}

table {
    margin-left:auto;
    margin-right:auto;
    padding:50px;
}
.valid{
    box-shadow:0 0 0 3px green inset;
}
.invalid{

    box-shadow: 0 0 0 3px red inset;
}


